h1 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0;
  padding-left: 25px;
}

p {
  font-size: 18px;
  padding-left: 25px;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}
a {
  text-decoration: none;
}
.input-box {
  margin: 5px 5px 5px 20px;
}

.weather-app {
  background: #edf7fa;
  border: 1px solid #407088;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  width: 600px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -8px;
}

.weatherForTheWeek {
  text-align: center;
}
.btn {
  margin-top: 5px;
  margin-left: 10px;
  padding: 6px;
}
.column-search-button {
  padding-left: 25px;
  padding-right: 5px;
}
.currentTemp {
  font-size: 45px;
  padding-left: 25px;
  position: relative;
  top: 9px;
}
.description:first-letter {
  text-transform: capitalize;
}
.description {
  margin-top: 10px;
}
.weatherConditions {
  position: relative;
  top: 20px;
}
.active {
  color: black;
}
.active:hover {
  cursor: default;
  color: black;
}
.emoji {
  font-size: 80px;
}
.gitHubRepo {
  font-size: 15px;
  text-align: center;
}
